<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>pdf2html</title>
    </head>
    <body>
        <p id="text"></p>

        <script src="https://mozilla.github.io/pdf.js/build/pdf.mjs" type="module" crossorigin="use-credentials"></script>
        <script type="module" crossorigin="use-credentials">
            const log = (msg) => {
                document.querySelector('#text').innerHTML += msg + '<br />';
            }

            var { pdfjsLib } = globalThis;
            pdfjsLib.GlobalWorkerOptions.workerSrc = 'https://mozilla.github.io/pdf.js/build/pdf.worker.mjs';

            log('Loaded pdf.js library')

            const run = async () => {
                const url = decodeURIComponent(
                    new URLSearchParams(window.location.search).get('q')
                );
                const pdf = await pdfjsLib.getDocument(url).promise;
                log('Loaded pdf from url');
                const maxPages = pdf.numPages;
                const pageTextPromises = [];
                for (let pageNo = 1; pageNo <= maxPages; pageNo += 1) {
                    const page = await pdf.getPage(pageNo);
                    const tokenizedText = await page.getTextContent();
                    const pageText = tokenizedText.items.map(token => token.str).join(" ");
                    pageTextPromises.push(pageText);
                    log(`Loaded page ${pageNo}`);
                }
                const pageTexts = await Promise.all(pageTextPromises);
                log(pageTexts.join(" "));
            };

            try {
                await run();
            } catch (error) {
                document.querySelector('#text').style.color = '#ff3333';
                log(error);
            }
        </script>
    </body>
</html>
