<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>pdf2html</title>
    </head>
    <body>
        <div
            id="loading"
            style="
                display:none;
                justify-content:center;
                align-items:center;
            "
        >
            <img
                alt="Loading"
                src="https://media.tenor.com/images/d6cd5151c04765d1992edfde14483068/tenor.gif"
                style="width:200px;height:200px;"
            />
        </div>
        <button style="font-size: 2rem; padding:0.5rem;" onclick="playTts()">&gt;</button>
        <button style="font-size: 2rem; padding:0.5rem;" onclick="pauseTts()">||</button>
        <p><a id="url" href="#"></a></p>
        <p id="text-wrapper"></p>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.min.js"></script>
        <script>
            const synth = window.speechSynthesis;

            const playTts = () => {
                if (synth.paused) {
                    synth.resume();
                    return;
                }

                let text = '';
                document.querySelectorAll('.text').forEach(el => text += el.innerHTML + ' ');
                const utterThis = new SpeechSynthesisUtterance(text);

                utterThis.onpause = (event) => {
                    const char = event.utterance.text.charAt(event.charIndex);
                    console.log(
                        `Speech paused at character ${event.charIndex} of "${event.utterance.text}", which is "${char}".`,
                    );
                };

                synth.speak(utterThis);


            };

            const pauseTts = () => {
                if (!synth.paused) synth.pause();
            };

            const run = async () => {
                const url = decodeURIComponent(
                    new URLSearchParams(window.location.search).get('q')
                );

                let pdfText = localStorage.getItem(url);
                if (pdfText) {
                    document.title = pdfText.substring(10, 64).split(' ').slice(2).join(' ') + '...';
                    document.querySelector('#url').href = url;
                    document.querySelector('#url').innerHTML = url;
                    document.querySelector('#text-wrapper').innerHTML = pdfText;
                    return;
                }

                document.querySelector('#loading').style.height = `${window.innerHeight}px`;
                document.querySelector('#loading').style.display = 'flex';

                const pdfjsLib = window['pdfjs-dist/build/pdf'];
                pdfjsLib.GlobalWorkerOptions.workerSrc = 'https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.6.347/pdf.worker.min.js';

                const pdf = await pdfjsLib.getDocument(url).promise;
                const pageTextPromises = [];
                for (let pageNo = 1; pageNo <= pdf.numPages; pageNo += 1) {
                    const page = await pdf.getPage(pageNo);
                    const tokenizedText = await page.getTextContent();
                    const pageText = `<h2>Page ${pageNo}</h2><p class="text">` + tokenizedText.items.map(token => token.str).join(' ') + '</p>';
                    pageTextPromises.push(pageText);
                }
                pdfText = (await Promise.all(pageTextPromises)).join(' ').replaceAll('- ', '');
                window.localStorage.setItem(url, pdfText);
                window.location.reload();
            };

            run();
        </script>
    </body>
</html>
